a:link {
        color: #FFFAFA;
        text-decoration:none;
      }
a:active {
        color: #F8F8FF;
        text-decoration:none;
      }
a:visited {
        color:#F8F8FF;
        text-decoration:none;
      }
body {
        background-color:#000000;
      }
h1 {
        color: #FFFAFA;
        text-align: center;
}
.bgimage {
        background-image:url("5107.jpg");
        width: 100%;
        height: 600px;
}
.Button1 {
        background-color: #FFFAFA;
        border: none;
        color: rgb(0, 0, 0);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}

