a:link {
        color: #FFFAFA;
        text-decoration:none
      }
a:active {
        color: #F8F8FF
      }
a:visited {
        color:#F8F8FF
      }
body {
        background-color:#000000
      }
